@font-face {
    font-family: myfont;
    src: url(Assset/Font/ADLaMDisplay-Regular.ttf);
}

@font-face {
    font-family: myfont2;
    src: url(Assset/Font/Adamina-Regular.ttf);
}

a {
    text-decoration: none;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C2020;
    color: #fff;
    font-family: myfont2, sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.link-icon {
    width: 30px;
    margin-right: 20px;
}

.title {
    font-family: myfont, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

/* General Section Styling */
.detail-section {
    padding: 40px 40px;
    background-color: #1C2020; 
    color: #fff;
}

/* Section Header */
.detail-section h2 {
    font-size: 2.5rem;
    font-family: myfont2;
    margin-bottom: 30px;
    text-align: left;
    position: relative;
    color: white;
}

/* Experience Item Styling */
.item {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 50px;
}

.circle{
    position: absolute;
    width: 100%;
    margin-right: 300px;
}

.circle img{
    width: 45px;
    height: 45px;
}
/* Vertical line below the circle */
.line {
    position: absolute;
    margin-left: 17px;
    margin-top: 45px;
    width: 100%;
}

.line img{
    height: 175px;
    width: 10px;
}

.line2 {
    position: absolute;
    margin-left: 17px;
    margin-top: 45px;
    width: 100%;
}
.line2 img{
    width: 10px;
    height: 480px;
}

.line3 {
    position: absolute;
    margin-left: 17px;
    margin-top: 45px;
    width: 100%;
}
.line3 img{
    width: 10px;
    height: 180px;
}

.line4 {
    position: absolute;
    margin-left: 17px;
    margin-top: 45px;
    width: 100%;
}
.line4 img{
    width: 10px;
    height: 140px;
}

/* Content box styling */
.detail-content {
    padding: 20px;
    flex-grow: 1;
    margin-left: 70px;
}

.detail-content h2 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 5px;
    font-family: myfont;
}

.detail-content p {
    font-size: 20px;
    line-height: 1.6;
    font-family: myfont;
    text-align: justify;
}

.detail-content img{
    width: 100%;
    height: auto;
    max-width: 800px; 
}
/* View Link Button */
.view-link {
    display: block; /* Agar tampil vertikal */
    /* margin-top: 5px; */
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px 5px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: myfont;
    align-self: flex-start;
    gap: 8px;
    font-size: 25px; /* Memperbesar ukuran teks */
}



.link-icon {
    width: 30px; 
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
}

/* Content box styling */
.detail-content2 {
    padding: 20px;
    flex-grow: 1;
    margin-left: 70px;
}

.detail-content2 h2 {
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 5px;
    font-family: myfont;
}

.detail-content2 p {
    font-size: 20px;
    line-height: 1.6;
    font-family: myfont;
    text-align: justify;
}

@media only screen and (min-width: 430px) and (max-width: 932px) {
    body {
        padding: 20px;
    }

    header {
        padding: 15px;
        justify-content: space-between;
    }

    .title {
        font-size: 35px;
        margin-right: 300px;
    }

    .detail-section {
        padding: 30px;
    }

    .item {
        margin-bottom: 40px;
    }

    .circle{
        width: 180px;
        height:105px;
    }


    .line img{
        width: 10px;
        height: 190px;
        margin-top: 10px;
    }

    .line2 img{
        width: 10px;
        height: 260px;
        margin-top: 10px;
    }

    .line3 img{
        width: 10px;
        height: 230px;
        margin-top: 10px;
    }


    .line4 img{
        width: 10px;
        height: 190px;
        margin-top: 10px;
    }

    /* .detail-content, .detail-content2 {
        padding: 20px;
    } */

    .detail-content{
        padding: 0;
    }

    .detail-content img {
        
        width: 320px;
        height: 270px;
        /* padding-right: 20px; */
        /* margin-right: 120px; */
        padding-top: 20px;
    }

    .detail-content h2{
        font-size: 25px;
    }

    .detail-content p{
        font-size: 14px;
    }

    .view-link {
        font-size: 22px;
    }
}